<script setup>
const runtimeConfig = useRuntimeConfig()

// Base64 encoded E-Mail
// https://www.base64encode.org/
const mailto = () => window.location = 'mailto:' + atob('aW5mb0Bub3Z1c2lkZWEuZGU=');
</script>

<template>
    <Logo id="Logo" :title="runtimeConfig.title" />

    <div class="social-links">
        <a @click="mailto()" title="E-Mail">
            <Envelope />
        </a>

        <a href="https://github.com/novusidea" title="Github" target="_blank" rel="noopener">
            <Github />
        </a>
    </div>
</template>

<style>
.social-links {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    column-gap: 1rem;
    bottom: 2em;
    left: 50%;
}

.social-links a {
    display: inline-flex;
    user-select: none;
    cursor: pointer;
    font-size: 1rem;
    color: #ccc;
}

.social-links a:hover {
    color: #aaa;
}
</style>
