html {
    font-size: 20px;
}

body {
    font-family: 'Arial', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.4;
    font-size: 1rem;
    height: 100vh;
    margin: 0;
}

a {
    color: #777;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#Logo {
    animation-name: heartbeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: scale(0.8);
    color: #ccc;
    width: 200px;
    height: 200px;
    opacity: 0.5;
    user-select: none;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.8);
    }
    5% {
        transform: scale(0.9);
    }
    10% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}
