<template>
    <svg id="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor" :title="title">
        <title>{{ title }}</title>
        <path d="m16 1c-8.2781 6.6e-6 -15 6.7219-15 15 3.7e-6 3.9779 1.5805 7.7938 4.3934 10.607 2.8129 2.8129 6.6286 4.3934 10.607 4.3934s7.7938-1.5805 10.607-4.3934c2.8129-2.8129 4.3934-6.6286 4.3934-10.607s-1.5805-7.7938-4.3934-10.607c-2.8129-2.8129-6.6286-4.3934-10.607-4.3934zm0 1.0407c2.4028 2.8e-6 4.7398 0.62287 6.8011 1.7733v22.855l-13.307-23.021c1.9427-1.0244 4.1556-1.6067 6.5064-1.6067zm-7.886 2.438v23.036c-0.70553-0.48321-1.3716-1.0308-1.9848-1.644-2.618-2.618-4.0887-6.1685-4.0887-9.8707 3.7e-6 -4.7878 2.4053-9.0073 6.0734-11.521zm15.764 0.00188c0.70832 0.48442 1.3768 1.0338 1.9923 1.6493 2.618 2.618 4.0887 6.1685 4.0887 9.8707 0 3.7024-1.4706 7.2527-4.0887 9.8707-0.6154 0.6154-1.284 1.1648-1.9923 1.6492v-23.04zm-14.687 0.78674 12.855 22.228h-11.132l-1.5e-4 1.0775h11.147c-1.8735 0.90337-3.9422 1.3874-6.0618 1.3874-2.4057-9e-6 -4.7454-0.6244-6.8085-1.7775v-22.915z"/>
    </svg>
</template>

<script setup>
const props = defineProps({
    title: String
})
</script>
